<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FileExchange" 
         connectionString="Data Source=ALEXVPC\SQLEXPRESS;Initial Catalog=FileExchange;Integrated Security=True;Pooling=False" 
         providerName="SqlServer"/>
  </connectionStrings>
</configuration>